<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="classes" thread-count="4">
    <test verbose="2" preserve-order="true" name="/home/p/jsa_automation/src/test/java/test_package/automation">
        <classes>
            <class name="test_package.automation.LoginTest">
                <methods>
                    <include name="loginWithFBTest"/>
                </methods>
            </class>
            <class name="test_package.automation.WS">
                <methods>
                    <include name="pricing"/>
                    <include name="transformations"/>
                    <include name="blog"/>
                    <include name="login"/>
                    <include name="footer"/>
                </methods>
            </class>
            <class name="test_package.automation.WSAccount">
                <methods>
                    <include name="home"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>