<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="JsaTesting Framework Unit tests" parallel="tests">
    <test verbose="2" preserve-order="true"
          name="/home/p/jsa_automation/src/test/java/main_package/ui/guest_mode/main/MainPageTest.java">
        <classes>
            <class name="main_package.ui.guest_mode.main.MainPageTest">
                <methods>
                    <include name="mainPageTest"/>
                </methods>
            </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="/home/p/jsa_automation/src/test/java/main_package/ui/guest_mode/main/login">
        <classes>
            <class name="main_package.ui.guest_mode.main.login.CreateAccountTest">
                <methods>
                    <include name="joinNowPageTest"/>
                </methods>
            </class>
            <class name="main_package.ui.guest_mode.main.login.LoginPageTest">
                <methods>
                    <include name="loginPageTest"/>
                </methods>
            </class>
            <class name="main_package.ui.guest_mode.main.login.ResetPasswordTest">
                <methods>
                    <include name="resetPasswordPageTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>