<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="ui.OnixScreenFailListener"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="/home/m/jsa_automation/src/test/java/automation/WS.java">
        <classes>
            <class name="automation.WS">
                <methods>
                    <include name="test_1"/>
                    <include name="test_2"/>
                    <include name="test_3"/>
                    <include name="test_4"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>