<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) %X{testClass} %X{test} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="ui" level="INFO">
        <appender-ref ref="STDOUT"/>
    </logger>
    <logger name="automation" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>
    <logger name="test_engine" level="INFO">
        <appender-ref ref="STDOUT" />
    </logger>


    <!-- This is the ReporterAppender -->
    <appender name="TestNG" class="com.github.sbabcoc.logback.testng.ReporterAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <timestampFormat>yyyy-MM-dd'T'HH:mm:ss.SSSX</timestampFormat>
                <timestampFormatTimezoneId>Etc/UTC</timestampFormatTimezoneId>

                <jsonFormatter class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
            </layout>
        </encoder>
    </appender>


    <root level="INFO">
        <appender-ref ref="TestNG" />
        <appender-ref ref="Json" />
    </root>
</configuration>